<h1>All Users</h1>

<%= paginate @users %>

<table class="dashboard-table" id="subjects-table" width="100%">
  <tr>
    <th></th>
    <th>Name</th>
    <th>Classifications</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><% if user.avatar %>
        <img src="<%= user.avatar %>" /></td>
      <% end %>
    </td>
    <td><%= user.name %></td>
    <td><%= user.classifications.count %></td>
  </tr>
<% end %>
</table>

<%= paginate @users %>
